<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dashb.css">
    <link rel="icon" href="./images/med.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Orienta&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>DAWA DUKAN</title>
</head>

<body>
    <main>
        <div class="div1">
            <div class="head">DAWA DUKAN.</div>
            <div class="toggle-section">
                <div onclick="" style="cursor:pointer;"><i class="fa fa-home"></i>Home</div>
                <div>|</div>
                <div onclick="location.href='/about';" style="cursor:pointer;"><i class="fa fa-search"></i>AboutUs</div>
                <div>|</div>
                <div onclick="location.href='/cart';" style="cursor:pointer;" style="cursor:pointer;"><i class="fa fa-shopping-cart"></i>Cart</div>
            </div>
            <div class="toggle-section">
                <div>Hello <%= uname %><i class=""></i></div>
                <div>|</div>
                <div onclick="location.href='/logout';" style="cursor:pointer;"><i class="fa fa-sign-out"></i>Log Out
                </div>
            </div>
        </div>
       
        <div class="div3">
            <div class="div31">HealthCare</div>
            <div class="div32"><img src="" alt=""></div>
            <div class="div33"><button onclick="location.href='/health';" class="button button2">Click
                    here</button></div>
        </div>
        <div class="div4t">
            <% docs.forEach(function(thing){ %>
                <form action="/order" method="POST">
                    <div class="div4">
                        <div class="div41"><img src="" alt=""></div>
                        <input type="hidden" name="name" value="<%= thing.name %>">
                        <div class="div42">
                            <%= thing.name %>
                        </div>
                        <div class="div43">

                            <div class="cart">
                                <button type="submit" style="all: unset;cursor: pointer;">
                                    <i class="fa fa-shopping-cart"
                                        style="font-size:35px;color:red;background: #FFFDFD;"></i>
                                </button>
                            </div>

                        </div>
                        <div class="div44">
                            <input type="hidden" name="desc" value="<%=thing.desc %>">
                            <%= thing.desc %>
                        </div>
                        <div class="div45">
                            <input type="hidden" name="price" value=<%=thing.price %>>
                            ₹<%= thing.price %>
                        </div>
                    </div>
                </form>
                <% }) %>
        </div>
    </main>

    <script src="https://widget.flowxo.com/embed.js" data-fxo-widget="eyJ0aGVtZSI6IiNiNGQyZmYiLCJ3ZWIiOnsiYm90SWQiOiI2MWEwY2IwOGI5MmNkYTAwNmVmZTcxNTkiLCJ0aGVtZSI6IiNiNGQyZmYiLCJsYWJlbCI6IllvdXIgb3duIFBoYXJtYWN5ISJ9LCJ3ZWxjb21lVGV4dCI6IkknbSB5b3VyIGFzc2lzdGFudCEhIn0=" async defer></script></body>

</html>